{% extends 'templates/layout.njk' %}

{% block content %}
        <div class="container-chef">
            <div class="best-recipes">
                <h2>As melhores receitas</h2>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>
            <div class="chef-image">
                <img src="/assets/chef.png" alt="Chef">
            </div>
        </div>
        <div class="most-viewed index">
            <h3>Mais acessadas</h3>
            <div class="recipe-cards">
                {% for recipe in recipes %}
                <div class="recipe-card" id="{{ recipe.id }}">
                    <img src="{{ recipe.image.src or 'http://placehold.it/940x280?text=RECEITA SEM FOTO' }}" alt="{{ recipe.title }}">
                    <p>{{ recipe.title }}</p>
                    <small>por {{ recipe.chef_name }}</small>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock content %}
