{% extends 'templates/layoutAdmin.njk' %}

{% block head %}
    <title>Foodfy - Chefs</title>
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/chefs.css">
{% endblock head %}

{% block content %}
        <div class="most-viewed">
            <div class="head-container">
                <h3>Gerenciar chefs</h3>
                {% if session.is_admin %}
                <a href="/admin/chefs/create" class="button">Criar chef</a>
                {% endif %}
            </div>
            <div class="chef-cards">
                {% for chef in chefs %}
                <div class="chef-card" id="{{ chef.id }}">
                    <img src="{{ chef.image.src or 'https://static.vecteezy.com/ti/vetor-gratis/p1/331801-feliz-chef-vector-icone-vetor.jpg' }}" class="chef-avatar-grid" alt="{{ chef.title }}">
                    <div class="chef-card-info">
                        <p>{{ chef.name }}</p>
                        <a href="/admin/chefs/{{ chef.id }}">Visualizar</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock content %}