{% extends 'templates/layout.njk' %}
{% block head %}
    <title>Foodfy - Registrar</title>
    <link rel="stylesheet" href="/styles/login.css">
{% endblock head %}

{% block content %}
        <div class="user-login forgot">
            <form action="/admin/users/forgot-password" method="post">
              <h2>Esqueceu a senha</h2>
              <div class="input-group">
                <h4>Email</h4>
                <input type="email" name="email" id="email" value="{{ email }}" onblur="Validate.apply(this, 'isEmail')" placeholder="Digite o seu email">
              </div>
              <div class="actions">
                <button type="submit" class="button forgot">Recuperar</button>
              </div>
            </form>
        </div>
{% endblock content %}

