{% extends 'templates/layout.njk' %}
{% block head %}
    <title>Foodfy - Registrar</title>
    <link rel="stylesheet" href="/styles/login.css">
{% endblock head %}

{% block content %}
        <div class="user-login forgot">
            <form action="/admin/users/password-reset" method="post">
              <h2>Esqueceu a senha</h2>
              {% include "admin/users/resetFields.njk" %}
              <div class="actions">
                <button type="submit" class="button forgot">Recuperar</button>
              </div>
            </form>
        </div>
{% endblock content %}

