<div class="grid">
  <div class="input-group">
      <h4>Nome</h4>
      <input type="text" name="name" id="name" placeholder="Digite o nome completo" value="{{ user.name }}">
  </div>
  <div class="input-group">
      <h4>Email</h4>
      <input type="email" name="email" onblur="Validate.apply(this, 'isEmail')" placeholder="Digite o email" value="{{ user.email }}">
  </div>
  <div class="input-group">
      <h4>Senha</h4>
      <input type="password" name="password" id="password" placeholder="Digite sua senha">
  </div>
</div>

